nav {
    display: flex;
    flex-direction: row;
    overflow: hidden;
    background-color: #000000;
    position: fixed;
    top: 0;
    width: 100%; 
    margin-left: 0px;
    max-height: 70px;
    z-index: 1;
    box-shadow: 1px 5px 5px #d3cccc;
}

.menu {
    display: flex;
    justify-content: space-around;
    width: 100%;
}


nav a {
    color: #edebea;
    font-size: 14px;
    text-decoration: none;
    font-family: 'Raleway', sans-serif;;
    padding: 10px;
    margin-top: 15px; 
}

nav a:hover {
    font-weight: bolder;
    text-decoration: underline;
}

nav img {
    max-height: 50px;
    margin-top: 10px; 
    margin-bottom: 10px; 
    margin-left: 20px;
}

main {
    margin-top: 50vh; 
    transform: translateY(-50%);
}



.card {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.flip-container {
    -webkit-perspective: 1000;
    -moz-perspective: 1000;
    -o-perspective: 1000;
    perspective: 1000;
    border: 1px solid #ccc;
}

	.flip-container:hover .flipper,  
    .flip-container.hover .flipper {
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
        transform: rotateY(180deg);
	}

.flip-container, .front1, .front2, .front3, .back  {
	width: 300px;
	height: 300px;
}

.flipper {
	-webkit-transition: 0.6s;
	-webkit-transform-style: preserve-3d;

	-moz-transition: 0.6s;
	-moz-transform-style: preserve-3d;
  
    -o-transition: 0.6s;
	-o-transform-style: preserve-3d;

	transition: 0.6s;
	transform-style: preserve-3d;

	position: relative;
}

.front, .back {
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
    -o-backface-visibility: hidden;
	backface-visibility: hidden;

	position: absolute;
	top: 0;
	left: 0;
}

.front1 {
	background: url(https://www.chanel.com/fnbv3/image/full/chanel__com_type1/skus_full/huile-de-jasmin-flacon-50ml.3145891020007.jpg) 0 0 no-repeat;
    background-size: cover;
	z-index: 2;
}

.front2 {
	background: url(https://www.chanel.com/fnbv3/image/full/chanel__com_type1/skus_full/rouge-coco-le-rouge-hydratation-continue-444-gabrielle-35g.3145891724448.jpg) 0 0 no-repeat;
    background-size: cover;
	z-index: 2;
}

.front3 {
	background: url(https://www.chanel.com/fnbv3/image/full/chanel__com_type1/skus_full/gabrielle-chanel-eau-de-parfum-vaporisateur-35ml.3145891204407.jpg) 0 0 no-repeat;
    background-size: cover;
	z-index: 2;
}

.back {
	-webkit-transform: rotateY(180deg);
	-moz-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
	transform: rotateY(180deg);

	background: #f8f8f8;
    z-index: 4;
}

.front1 .name1, .front2 .name2, .front3 .name3 {
	font-size: 2em;
	display: inline-block;
	background: rgba(33, 33, 33, 0.9);
	color: #f8f8f8;
	font-family: 'Raleway', sans-serif;;
	padding: 5px 10px;
	border-radius: 5px;
	bottom: 5px;
	position: absolute;
}


.back-title {
	font-size: 2em;
	display: inline-block;
	background: rgba(33, 33, 33, 0.9);
	color: #f8f8f8;
	font-family: 'Raleway', sans-serif;;
	padding: 5px 10px;
	border-radius: 5px;
	top: 0;
	position: absolute;
}


.back p {
	display: flex;
    margin-top: 8vh;
	text-align: justify;
	padding: 20px;
    font-family: 'Raleway', sans-serif;;
    line-height: 2em;
}